body {
  font-size: 16px;
  margin: 0;
}
span {
  font-style: italic;
}
img {
  float: right;
  border: 1px solid;
  padding: 10px;
}
ul {
  list-style: none;
}
.list__content {
  display: inline-block;
  border: 1px solid;
}
.list__content > p {
  margin: 5px;
  text-align: center;
  font-weight: bolder;
}
.list__content > ul {
  margin: 0 0 5px 0;
  padding: 5px;
}
.list__content > ul > ul {
  padding-left: 25px;
}
a {
  text-decoration: none;
}
.heder__nav-panel {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item > li > a {
  padding: 10px;
  display: block;
  border: 1px solid;
}
