*{
	margin: 0;
	padding: 0;
}
img{
	width: 300px;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;/* добавляем 3 колонки */
	grid-template-rows: repeat(4,500px);/* добавляем 4 строки высотой 500px */
}