/* html{
	font-size: 30px;
}
ul{
	list-style: none;
}
li{
	font-size: 0.5em;
} */
html{
	font-size: 30px;
}

p{
	font-size: 1em;
}
div{
	width: 300px;
	height: 300px;
	margin: 4rem;
	font-size: 0.5rem;
}

#red{
	background-color: darkred;
}
#green{
	background-color: darkgreen;
}
#yellow{
	background-color: darkorange;
}
#grey{
	background-color: darkslategrey;
}